# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scoutwo"

# Redis
# Development: redis://localhost:6379
# Docker Compose: redis://redis:6379 (uses internal Docker network)
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
